@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100&display=swap");

.simon_red {
     background-color: red;
}
.simon_red_blink {
     background-color: darkred;
}
.simon_blue {
     background-color: blue;
}
.simon_blue_blink {
     background-color: darkblue;
}
.simon_green {
     background-color: green;
}
.simon_green_blink {
     background-color: darkgreen;
}
.simon_yellow {
     background-color: yellow;
}
.simon_yellow_blink {
     background-color: darkgoldenrod;
}
@layer base {
     * {
          font-family: "whitney";
          font-weight: medium;
     }
}
@layer utilities {
     .noselect {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
     }
}

@layer components {
     .input {
          border-radius: 4px;
          padding: 4px 5px;
     }
     .input:focus {
          border: none;
          outline: none;
     }

     .search-input {
          @apply bg-gray-800;
          border-radius: 4px;
          padding: 4px 5px;
     }
     .search-input:focus {
          border: none;
          outline: none;
     }
     .search-input::placeholder {
          font-family: whitney;
          font-weight: 600;
          color: #72767d;
     }
     .search-input::-ms-input-placeholder {
          /* Microsoft Edge */
     }
     .selectable {
          @apply p-0.5;
     }
     .selectable:hover {
          @apply bg-gray-400/70 rounded-sm;
          transition: all;
          transition-duration: 50ms;
          transition-timing-function: ease-in;
          cursor: pointer;
     }
     .button {
          border-radius: 2px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 1.5px 7px 3.5px;
          font-family: whitney;
          font-style: medium;
     }
     .sidebar-icon {
          @apply relative flex;
     }
     .sidebar-tooltip {
          @apply absolute -top-3 p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
     }
}
